:root {
  font-family: inherit;
  color-scheme: light;
  color: #3b3b6d;
  background: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: none;
  display: block;
}

h1, h2 {
  margin: 0;
}

button, input, form {
  font-family: inherit;
}
